@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

body{
    background-color: var(--ctp-mocha-base);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("./files/cursor.svg"), auto;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

h1{
    color: var(--ctp-mocha-flamingo)
}

.about{
    margin-left: 20%;
    margin-right: 20%;
    color: var(--ctp-mocha-text)
}

.skills{
    color: var(--ctp-mocha-rosewater)
}

.projects{
    color: var(--ctp-mocha-lavender)
}

.contact{
    color: var(--ctp-mocha-pink)
}

img{
    width: 30%;
    height: auto;
}

a{
    color: var(--ctp-mocha-blue);
}